* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #eee;
    font-family: system-ui;
    line-height: 1.5;
}
a {
    text-decoration: none;
}
button {
    border: none;
    outline: none;
    cursor: pointer;
}
.wrapper {
    border: 1px solid #d3d3d3;
    height: 80vh;
    height: 80dvh;
    border-radius: 5px;
    margin: 25px auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    overflow: auto;
}
.main {
    /* flex-grow: 1; */
    grid-column: 1/6;
    grid-row: 1/2;
    width: 100%;
    padding: 20px;
    height: 100%;
}
dialog:nth-of-type(3) {
    /* display: flex;
    justify-content: space-between;
    width: 35%; */
    background-color: #009578;
    padding: 0 20px 20px;
}
dialog:nth-of-type(3) > div {
    position: sticky;
    top: 0;
    background-color: #009578;
    padding: 20px 0;
    /* right: 0; */
}
.side-panel-toggle {
    width: 3rem;
    height: 3rem;
    flex-shrink: 0;
    display: grid;
    place-items: center;
    background-color: #ddd;
    margin: 20px;
    padding: .5rem;
    border-radius: 50%;
    cursor: pointer;
    transition: 150ms;
    color: #777;
}
/* .scrollUp {
    position: sticky;
    top: 0;
    right: 0;
    border-radius: 5px;
} */
.times-entity {
    font-size: 32px;
    line-height: 0;
    background-color: transparent;
    color: #fff;
}
.side-panel-toggle:nth-of-type(1):hover {
    background-color: #009578;
    color: #fff;
}
.times-entity:hover {
    color: #555;
}
.side-panel-toggle:nth-of-type(2):hover {
    background-color: orangered;
    color: #fff;
}
.side-panel-toggle:nth-of-type(3):hover {
    background-color: rebeccapurple;
    color: #fff;
}
.sp-icon-close {
    display: none !important;
}
.side-panel {
    display: none;
    grid-column: 4/-1;
    grid-row: 1/2;
    /* width: 70%; */
    /* flex-shrink: 0; */
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
    overflow: auto;
    background-color: #009578;
}
.side-panel::-webkit-scrollbar {
    width: 0.7em;
}
.side-panel::-webkit-scrollbar-track {
    background-color: #fff;
}
.side-panel::-webkit-scrollbar-thumb {
    background-color: #444;
    border-radius: 10px;
}
.side-panel-open .side-panel {
    display: initial;
}
.side-panel-open .sp-icon-open {
    display: none !important;
}
.side-panel-open .sp-icon-close {
    display: initial !important;
}
.side-panel form {
    display: flex;
    justify-content: space-between;
}
.side-panel form > div:first-child, .input-group {
    display: flex;
    flex-direction: column;
}
.side-panel form > div:first-child {
    flex-basis: 30%;
}
.input-group {
    margin: 0 20px 20px;
}
.input-group label {
    padding-bottom: 5px;
    font-size: 13px;
    color: #fff;
}
.side-panel form > div:last-child {
    flex-basis: 70%;
}
.required {
    color: #ff0000;
}
input[type="text"],
input[type="date"],
select, textarea,
input[type="number"],
input[type="email"],
input[type="submit"] {
    /* -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; */
    padding: 10px;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    color: #383e40;
    outline: none;
    transition: 150ms;
}
select {
    appearance: auto;
    cursor: pointer;
}
input[type="submit"] {
    background-color: #444;
    border: 2px solid #fff;
    color: #fff;
    cursor: pointer;
}
.content ol {
    list-style-position: inside;
    font-family: monospace;
    font-size: x-large;
    padding: 30px 0;
}
.content li {
    margin: 20px 0;
    color: #777;
    cursor: pointer;
}
.content li:hover {
    color: #007960;
}
#main-container form {
    display: flex;
    justify-content: space-around;
}
#main-container form > div:first-child {
    flex: 2;
    border: 1px solid white;
}
#main-container form > div:last-child {
    flex: 1;
    border: 1px solid white;
}
button[title="PIN"] {
    position: relative;
}
button[title="PIN"]:hover::after {
    content: attr(data-online-status);
    position: absolute;
    top: 0;
    left: 50px;
    margin: 20px;
    padding: 10px;
    background-color: #009578;
    color: #fff;
    border-radius: 7px;
    width: 100px;
    text-align: left;
    font-size: 16px;
}