header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
nav a {
    color: #777;
    padding: 0.3em 1em;
    transition: 150ms;
}
nav.left-nav a {
    border: 1px solid;
    border-radius: 2em;
}
nav.left-nav a:hover {
    color: #fff;
    background-color: #007960;
}
.active-left-nav {
    color: #fff;
    background-color: #009578;
}
nav.top-nav a:hover {
    box-shadow: 0 3px #007960;
}
.active-top-nav {
    box-shadow: 0 3px #009578;
}
aside {
    flex-basis: 11%;
    margin: 25px;
}
aside nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 0;
    gap: 0.7em;
}
.section {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    /* border: 1px solid black; */
}
