html, body, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 18px system-ui, sans-serif;
}
body {
    background-color: #7777ff;
    user-select: none;
}
button {
    cursor: pointer;
    outline: none;
    border: none;
}
header {
    padding: 20px;
    text-align: center;
}
#pdf-btn {
    padding: 12px 24px;
    border-radius: 5px;
    background-color: darkorange;
    color: #fff;
}
main {
    min-width: 700px;
    width: 1400px;
    margin: 0 auto;
    background-color: #fff;
    border-width: 10px;
    border-style: solid;
    border-color: #555;
    border-radius: 7px 7px 0 0;
    position: relative;
}
section {
    padding: 5px 20px;
    box-shadow: 0 0 2px #aaa;
}
#section-header {
    display: flex;
    align-items: center;
}
#section-header div {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#section-header img {
    width: 150px;
}
#section-header img[alt="photo"] {
    width: 120px;
    border-radius: 50%;
}
#section-bio {
    display: flex;
    align-items: center;
}
#section-grade {
    display: flex;
    align-items: stretch;
    gap: 2em;
}
.large {
    font-size: 24px;
    text-transform: uppercase;
}
.small {
    font-size: 15px;
}
.small, .overstats {
    font-weight: 500;
}
#menu-btn {
    position: absolute;
    top: -45px;
    right: 0;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: transparent;
    transform: scale(.5);
    color: #fff;
    transition: all .1s;
}
#menu-btn:hover {
    transform: scale(1);
    background-color: #777;
}
#menu-btn::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    bottom: 0;
    border: 1px dashed #fff;
    margin: 10px auto;
}
#menu-btn:focus + .menu {
    opacity: 1;
    pointer-events: auto;
}
.menu {
    width: 150px;
    padding: 5px 0;
    background-color: #fff;
    border: 1px solid #aaa;
    position: absolute;
    top: -20px;
    right: 0;
    border-radius: 7px;
    opacity: 0;
    pointer-events: none;
}
.menu button {
    width: 100%;
    padding: 7px 15px;
    transition: all .1s;
}
.menu button:hover {
    background-color: #aaa;
}
table {
    border-collapse: collapse;
}
#section-bio table:nth-child(2) {
    margin-left: auto;
    margin-right: auto;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
#section-bio table:nth-child(2) tr {
    margin: 0 50px;
}
#section-bio table {
    flex: 1;
}
#section-grade table:nth-child(1) {
    flex: 2;
}
#section-grade > table:nth-of-type(2) {
    flex-basis: 250px;
}
#section-grade > table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
#section-grade > div {
    /* margin: auto; */
    max-width: 250px;
    padding: 1em;
    border: 1px solid #ccc;
}
#section-grade > div > table {
    width: 100%;
    border: 0;
    margin: 30px auto;
}
#section-grade > div > table tr:not(tr:nth-child(1), tr:nth-child(5)) td:nth-child(1) {
    text-align: left;
    font-weight: 500;
    vertical-align: text-bottom;
}
.css {
    padding-top: 2em !important;
    font-weight: 600;
    font-size: 1.1em;
    color: #555;
}
#section-grade > div > table tbody td {
    padding: 10px 0;
}
#section-grade table tbody tr td, th {
    padding: 5px;
    text-align: center;
}
#section-grade table:nth-of-type(1) tbody tr td:nth-of-type(2),
#section-grade table:nth-of-type(1) tbody tr td:nth-of-type(9),
#section-grade table:nth-of-type(1) th:nth-child(2),
th:nth-child(9) {
    text-align: left;
}
#section-grade th {
    color: #fff;
    font-size: .8rem;
}
#section-grade tr:first-child th {
    text-transform: uppercase;
}
#section-bio tr {
    display: block;
    color: #555;
}
td {
    font-size: 14px;
}
#section-grade thead {
    background-color: #555;
}
#section-grade table {
    border: 1px solid #aaa;
}
#section-grade > table tbody {
    border: 1px solid #777;
}
#section-grade > table tbody tr td {
    border: 1px solid;
}
#section-grade tfoot {
    border-top: 1px solid #eee;
}
#section-grade tfoot tr td {
    text-align: center;
}
#section-grade tfoot tr td:not(first-child) {
    color: #777;
    font-weight: bold;
    padding: .5em;
}
#section-bio tr td:first-child {
    font-weight: 600;
    color: #333;
}
#section-bio table:nth-child(1) tbody > tr td:first-child {
    width: 80px;
}
#section-bio table:nth-child(2) tbody > tr td:first-child {
    width: 110px;
}
#section-bio table:nth-child(3) tbody > tr td:first-child {
    width: 140px;
    padding-left: 20px;
}
#section-footer {
    display: flex;
    align-items: center;
    gap: 2em;
}
#section-footer > div:first-child {
    flex: 2;
}
/* #section-footer > div:nth-child(2) table tr:first-child td, */
#section-grade tr:first-child th {
    text-align: center;
    font-size: 17px;
    font-weight: bold;
}
#section-footer > div:last-child {
    flex-basis: 250px;
    text-align: center;
}
#section-footer > div > div {
    padding: 7px 30px;
    border-radius: 7px 7px 0 0;
    margin-bottom: 16px;
    color: #555;
    position: relative;
}
blockquote {
    padding: 10px 20px;
    border-bottom: 1px solid #aaa;
}
blockquote::before {
    content: '"';
    position: absolute;
    top: 0;
    left: 0;
    color: #777;
    font: italic 30px tahoma;
}
#mr-btn {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    color: #777;
}
#section-footer > div {
    position: relative;
}
#section-footer > div:nth-child(2) {
    width: 250px;
}
#mr-span {
    position: absolute;
    bottom: 45px;
    left: 0;
    opacity: 0;
}
#mr-btn:focus {
    background-color: #555;
    color: #fff;
}
#mr-btn:focus + #mr-span {
    opacity: 1;
}
#section-footer table {
    margin: auto;
}
#section-footer table tr:first-child, #section-footer table td:first-child {
    font-weight: 500;
}
#section-footer tbody tr td {
    padding: 7px 14px;
}
img[alt="stamp"] {
    width: 170px;
    transform: rotate(-20deg);
}
p#percent {
    font-size: 1em;
    font-weight: 500;
    position: relative;
}
p#percent::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-30%, -50%) rotate(45deg);
    height: 10px;
    width: 10px;
    border-width: 1px 1px 0 0;
    border-color: #555;
    border-style: solid;
    display: inline-block;
}
p#percent::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(-30%, -50%) rotate(45deg);
    height: 10px;
    width: 10px;
    border-width: 0 0 1px 1px;
    border-color: #555;
    border-style: solid;
    display: inline-block;
}
.overstats {
    text-align: left;
}
.float__right {
    float: right;
    text-align: right;
}
p#status {
    font-size: .7rem;
}