html, body, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 16px 'Poppins', sans-serif;
}
button, input[type="submit"], input[type="text"] {
    border: none;
    outline: none;
    cursor: pointer;
}
input[type="text"]:focus {
    border: 1px solid #009578;
}
header, footer {
    height: 7vh;
    height: 7dvh;
}
header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #fff;
    border: 1px solid #aaa;
    z-index: 1;
}
main {
    display: flex;
    justify-content: center;
    /* border: 1px solid #aaa; */
}
aside form {
    position: relative;
    height: 100%;
}
aside form input[type="text"] {
    border: 1px solid #aaa;
    border-radius: 7px;
    padding: 12px 24px;
    margin: 20px auto;
}
aside form .footer {
    position: sticky;
    top: 100%;
    padding: 40px 0;
    text-align: center;
}
.footer input[type="submit"] {
    padding: 1rem 2rem;
    border-radius: 7px;
    /* background-color: #ccc; */
    transition: all .1s linear;
}
.footer input[type="submit"]:hover {
    background-color: #009578;
    color: #fff;
}
aside, section {
    margin-top: 7vh;
}
main > aside {
    flex: 1;
    border-right: 1px solid gray;
    position: fixed;
    left: 0;
    height: 93vh;
    background-color: #fff;
    z-index: 1;
    max-width: 300px;
    width: 300px;
    text-align: center;
}
main > section {
    flex: 5;
    margin-left: 300px;
    border: 1px solid #aaa;
}
main > section > div{
    margin: 0 100px;
}
main > section > div:nth-child(1) {
    padding: 200px 20px 20px;
    position: relative;
}
main > section > div:nth-child(2) {
    border: 1px solid #aaa;
    border-radius: 7px;
}
div#formBar {
    display: flex;
    align-items: center;
}
div#formBar button {
    margin-left: auto;
    padding: 12px 24px;
    border-radius: 7px;
    background-color: #7777ff;
    color: #fff;
}
div#formBar i {
    padding: 12px 24px;
    font-size: 24px;
    line-height: 1;
    opacity: .3;
}
dialog {
    padding: 20px;
}
#nb {
    position: absolute;
    top: 0;
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 7px;
    /* width: 700px; */
    /* gap: 2em; */
}
#nb output {
    display: flex;
    align-items: center;
}
#nb output span {
    margin: 0 2em;
}
#nb output span p {
    font-size: .9rem;
    padding: 7px;
}
.action-btn {
    font-size: 30px;
    padding: .3rem .7rem;
    border-radius: 7px;
    transition: all .1s linear;
    /* border-radius: 50%; */
}
.action-btn:hover {
    background-color: #ccc;
}
.h3 {
    padding: 24px 32px;
    /* margin-bottom: 32px; */
}
aside .h3 {
    border-bottom: 1px solid #aaa;
}
table {
    border-collapse: collapse;
    margin: 0 auto;
    /* overflow: hidden; */
    /* border-radius: 7px; */
}
thead {
    background-color: #f3f3f3;
    /* border-radius: 7px; */
}
thead, tbody {
    border: 1px solid #aaa;
}
tr th {
    padding: 20px;
}
tr td {
    text-align: center;
}
tr:hover > td:first-child {
    color: #009578;
}
td:nth-child(2), th:nth-child(2) {
    text-align: left;
    min-width: 400px;
}
td:nth-child(2) {
    padding-left: 20px;
}
td input[type="text"] {
    border: none;
    height: 50px;
    width: 50px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}
